In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_excel('UCS-Satellite-Database-1-1-2023.xlsx')

In [3]:
# Establecer la opci√≥n para mostrar todas las columnas
pd.set_option('display.max_columns', None)

In [4]:
data.head(4)

,"Name of Satellite, Alternate Names",Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,Longitude of GEO (degrees),Perigee (km),Apogee (km),Eccentricity,Inclination (degrees),Period (minutes),Launch Mass (kg.),Dry Mass (kg.),Power (watts),Date of Launch,Expected Lifetime (yrs.),Contractor,Country of Contractor,Launch Site,Launch Vehicle,COSPAR Number,NORAD Number,Comments,Unnamed: 28,Source Used for Orbital Data,Source,Source.1,Source.2,Source.3,Source.4,Source.5,Source.6,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67
0,1HOPSAT-TD (1st-generation High Optical Perfor...,1HOPSAT-TD,NR,USA,Hera Systems,Commercial,Earth Observation,Infrared Imaging,LEO,Non-Polar Inclined,0.0,566,576,0.001510,36.9,96.08,22.0,NaN,NaN,2019-12-11 00:00:00,0.5,Hera Systems,USA,Satish Dhawan Space Centre,PSLV,2019-089H,44859,Pathfinder for planned earth observation const...,NaN,JMSatcat/3_20,https://spaceflightnow.com/2019/12/11/indias-5...,https://www.herasys.com/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aalto-1,Aalto-1,Finland,Finland,Aalto University,Civil,Technology Development,NaN,LEO,Sun-Synchronous,0.0,497,517,0.001450,97.45,94.70,4.5,NaN,4.5,2017-06-23 00:00:00,2.0,Aalto University,Finland,Satish Dhawan Space Centre,PSLV,2017-036L,42775,Technology development and education.,NaN,JMSatcat/10_17,https://directory.eoportal.org/web/eoportal/sa...,NaN,http://www.planet4589.org/space/log/satcat.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAt-4,AAt-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,0.0,442,687,0.001510,98.2,95.90,1.0,NaN,NaN,2016-04-25 00:00:00,NaN,University of Aalborg,Denmark,Guiana Space Center,Soyuz-2.1a,2016-025E,41460,Carries AIS system.,NaN,Space50,http://spaceflightnow.com/2016/04/26/soyuz-bla...,NaN,http://space50.org/objekt.php?mot=2016-025E&ja...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"ABS-2 (Koreasat-8, ST-3)",ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,75.0,35778,35793,0.000178,0.08,1436.03,6330.0,NaN,16000,2014-02-06 00:00:00,15.0,Space Systems/Loral,USA,Guiana Space Center,Ariane 5 ECA,2014-006A,39508,"32 C-band, 51 Ku-band, and 6 Ka-band transpond...",NaN,ZARYA,http://www.absatellite.net/satellite-fleet/?sa...,NaN,http://www.zarya.info/Diaries/Launches/Launche...,http://www.absatellite.net/2010/10/13/asia-bro...,http://www.spacenews.com/article/satellite-tel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 68 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Name of Satellite, Alternate Names  6718 non-null   object
 1   Current Official Name of Satellite  6718 non-null   object
 2   Country/Org of UN Registry          6718 non-null   object
 3   Country of Operator/Owner           6718 non-null   object
 4   Operator/Owner                      6718 non-null   object
 5   Users                               6718 non-null   object
 6   Purpose                             6718 non-null   object
 7   Detailed Purpose                    1167 non-null   object
 8   Class of Orbit                      6718 non-null   object
 9   Type of Orbit                       6077 non-null   object
 10  Longitude of GEO (degrees)          6716 non-null   float64
 11  Perigee (km)                        6718 non-null   int64
 12  Apogee (km)                         6718 non-null   int64
 13  Eccentricity                        6718 non-null   float64
 14  Inclination (degrees)               6718 non-null   object
 15  Period (minutes)                    6674 non-null   float64
 16  Launch Mass (kg.)                   6475 non-null   float64
 17  Dry Mass (kg.)                      444 non-null    object
 18  Power (watts)                       581 non-null    object
 19  Date of Launch                      6718 non-null   object
 20  Expected Lifetime (yrs.)            4804 non-null   float64
 21  Contractor                          6718 non-null   object
 22  Country of Contractor               6718 non-null   object
 23  Launch Site                         6718 non-null   object
 24  Launch Vehicle                      6718 non-null   object
 25  COSPAR Number                       6718 non-null   object
 26  NORAD Number                        6718 non-null   int64
 27  Comments                            1836 non-null   object
 28  Unnamed: 28                         4 non-null      object
 29  Source Used for Orbital Data        6426 non-null   object
 30  Source                              3209 non-null   object
 31  Source.1                            729 non-null    object
 32  Source.2                            1856 non-null   object
 33  Source.3                            1136 non-null   object
 34  Source.4                            735 non-null    object
 35  Source.5                            554 non-null    object
 36  Source.6                            504 non-null    object
 37  Unnamed: 37                         484 non-null    object
 38  Unnamed: 38                         484 non-null    object
 39  Unnamed: 39                         484 non-null    object
 40  Unnamed: 40                         484 non-null    object
 41  Unnamed: 41                         484 non-null    object
 42  Unnamed: 42                         484 non-null    object
 43  Unnamed: 43                         484 non-null    object
 44  Unnamed: 44                         484 non-null    object
 45  Unnamed: 45                         484 non-null    object
 46  Unnamed: 46                         484 non-null    object
 47  Unnamed: 47                         484 non-null    object
 48  Unnamed: 48                         484 non-null    object
 49  Unnamed: 49                         484 non-null    object
 50  Unnamed: 50                         484 non-null    object
 51  Unnamed: 51                         484 non-null    object
 52  Unnamed: 52                         484 non-null    object
 53  Unnamed: 53                         484 non-null    object
 54  Unnamed: 54                         484 non-null    object
 55  Unnamed: 55                         484 non-null    object
 56  Unnamed: 56                         484 non-null    object
 57  Unnamed: 57                         484 non-null    object
 58  Unnamed: 58                         484 non-null    object
 59  Unnamed: 59                         484 non-null    object
 60  Unnamed: 60                         487 non-null    object
 61  Unnamed: 61                         487 non-null    object
 62  Unnamed: 62                         486 non-null    object
 63  Unnamed: 63                         484 non-null    object
 64  Unnamed: 64                         484 non-null    object
 65  Unnamed: 65                         484 non-null    object
 66  Unnamed: 66                         486 non-null    object
 67  Unnamed: 67                         484 non-null    object
dtypes: float64(5), int64(3), object(60)
memory usage: 3.5+ MB

In [6]:
data.describe()

,Longitude of GEO (degrees),Perigee (km),Apogee (km),Eccentricity,Period (minutes),Launch Mass (kg.),Expected Lifetime (yrs.),NORAD Number
count,6716.000000,6718.000000,6718.000000,6718.000000,6674.000000,6475.000000,4804.000000,6718.000000
mean,1.844757,4036.069515,4634.061328,0.391619,237.903319,665.888564,5.510148,46818.601518
std,27.608604,10161.341409,13795.260635,14.122881,463.478270,1455.150358,3.592762,6281.113629
min,-179.800000,150.000000,49.000000,-0.033429,9.000000,0.500000,0.250000,7530.000000
25%,0.000000,520.000000,535.000000,0.000202,94.700000,148.000000,4.000000,44068.000000
50%,0.000000,548.000000,551.000000,0.000329,95.600000,260.000000,4.000000,47806.500000
75%,0.000000,612.000000,656.000000,0.000942,96.750000,260.000000,5.000000,51975.750000
max,359.000000,62200.000000,353798.000000,575.000000,11520.000000,22500.000000,30.000000,62684.000000

In [7]:
#crear data para ver si tengo nulos
nulos_por_columna =data.isnull().sum()

In [8]:
# Filtrar y mostrar solo las columnas con valores nulos
columnas_con_nulos = nulos_por_columna[nulos_por_columna > 0]
print(columnas_con_nulos)

Detailed Purpose                5551
Type of Orbit                    641
Longitude of GEO (degrees)         2
Period (minutes)                  44
Launch Mass (kg.)                243
Dry Mass (kg.)                  6274
Power (watts)                   6137
Expected Lifetime (yrs.)        1914
Comments                        4882
Unnamed: 28                     6714
Source Used for Orbital Data     292
Source                          3509
Source.1                        5989
Source.2                        4862
Source.3                        5582
Source.4                        5983
Source.5                        6164
Source.6                        6214
Unnamed: 37                     6234
Unnamed: 38                     6234
Unnamed: 39                     6234
Unnamed: 40                     6234
Unnamed: 41                     6234
Unnamed: 42                     6234
Unnamed: 43                     6234
Unnamed: 44                     6234
Unnamed: 45                     6234
Unnamed: 46                     6234
Unnamed: 47                     6234
Unnamed: 48                     6234
Unnamed: 49                     6234
Unnamed: 50                     6234
Unnamed: 51                     6234
Unnamed: 52                     6234
Unnamed: 53                     6234
Unnamed: 54                     6234
Unnamed: 55                     6234
Unnamed: 56                     6234
Unnamed: 57                     6234
Unnamed: 58                     6234
Unnamed: 59                     6234
Unnamed: 60                     6231
Unnamed: 61                     6231
Unnamed: 62                     6232
Unnamed: 63                     6234
Unnamed: 64                     6234
Unnamed: 65                     6234
Unnamed: 66                     6232
Unnamed: 67                     6234
dtype: int64

In [9]:
# Obtener las columnas que comienzan con 'Unnamed'
columnas_unnamed = [col for col in data.columns if 'Unnamed' in col]

# Eliminar las columnas 'Unnamed' del DataFrame
data_sin_unnamed = data.drop(columns=columnas_unnamed)

In [10]:

# Verificar el nuevo conjunto de datos sin las columnas 'Unnamed'
data_sin_unnamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 36 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Name of Satellite, Alternate Names  6718 non-null   object
 1   Current Official Name of Satellite  6718 non-null   object
 2   Country/Org of UN Registry          6718 non-null   object
 3   Country of Operator/Owner           6718 non-null   object
 4   Operator/Owner                      6718 non-null   object
 5   Users                               6718 non-null   object
 6   Purpose                             6718 non-null   object
 7   Detailed Purpose                    1167 non-null   object
 8   Class of Orbit                      6718 non-null   object
 9   Type of Orbit                       6077 non-null   object
 10  Longitude of GEO (degrees)          6716 non-null   float64
 11  Perigee (km)                        6718 non-null   int64
 12  Apogee (km)                         6718 non-null   int64
 13  Eccentricity                        6718 non-null   float64
 14  Inclination (degrees)               6718 non-null   object
 15  Period (minutes)                    6674 non-null   float64
 16  Launch Mass (kg.)                   6475 non-null   float64
 17  Dry Mass (kg.)                      444 non-null    object
 18  Power (watts)                       581 non-null    object
 19  Date of Launch                      6718 non-null   object
 20  Expected Lifetime (yrs.)            4804 non-null   float64
 21  Contractor                          6718 non-null   object
 22  Country of Contractor               6718 non-null   object
 23  Launch Site                         6718 non-null   object
 24  Launch Vehicle                      6718 non-null   object
 25  COSPAR Number                       6718 non-null   object
 26  NORAD Number                        6718 non-null   int64
 27  Comments                            1836 non-null   object
 28  Source Used for Orbital Data        6426 non-null   object
 29  Source                              3209 non-null   object
 30  Source.1                            729 non-null    object
 31  Source.2                            1856 non-null   object
 32  Source.3                            1136 non-null   object
 33  Source.4                            735 non-null    object
 34  Source.5                            554 non-null    object
 35  Source.6                            504 non-null    object
dtypes: float64(5), int64(3), object(28)
memory usage: 1.8+ MB

In [11]:
data2=data_sin_unnamed

In [12]:
data2.head(1)

,"Name of Satellite, Alternate Names",Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,Longitude of GEO (degrees),Perigee (km),Apogee (km),Eccentricity,Inclination (degrees),Period (minutes),Launch Mass (kg.),Dry Mass (kg.),Power (watts),Date of Launch,Expected Lifetime (yrs.),Contractor,Country of Contractor,Launch Site,Launch Vehicle,COSPAR Number,NORAD Number,Comments,Source Used for Orbital Data,Source,Source.1,Source.2,Source.3,Source.4,Source.5,Source.6
0,1HOPSAT-TD (1st-generation High Optical Perfor...,1HOPSAT-TD,NR,USA,Hera Systems,Commercial,Earth Observation,Infrared Imaging,LEO,Non-Polar Inclined,0.0,566,576,0.00151,36.9,96.08,22.0,NaN,NaN,2019-12-11 00:00:00,0.5,Hera Systems,USA,Satish Dhawan Space Centre,PSLV,2019-089H,44859,Pathfinder for planned earth observation const...,JMSatcat/3_20,https://spaceflightnow.com/2019/12/11/indias-5...,https://www.herasys.com/,NaN,NaN,NaN,NaN,NaN

In [13]:
eliminar_columnas=['Comments','Source Used for Orbital Data','Name of Satellite, Alternate Names','Source','Source.1','Source.2','Source.3','Source.4','Source.5','Source.6']

In [14]:
data3=data2.drop(columns=eliminar_columnas)

In [15]:
data3.head(2)

,Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,Longitude of GEO (degrees),Perigee (km),Apogee (km),Eccentricity,Inclination (degrees),Period (minutes),Launch Mass (kg.),Dry Mass (kg.),Power (watts),Date of Launch,Expected Lifetime (yrs.),Contractor,Country of Contractor,Launch Site,Launch Vehicle,COSPAR Number,NORAD Number
0,1HOPSAT-TD,NR,USA,Hera Systems,Commercial,Earth Observation,Infrared Imaging,LEO,Non-Polar Inclined,0.0,566,576,0.00151,36.9,96.08,22.0,NaN,NaN,2019-12-11 00:00:00,0.5,Hera Systems,USA,Satish Dhawan Space Centre,PSLV,2019-089H,44859
1,Aalto-1,Finland,Finland,Aalto University,Civil,Technology Development,NaN,LEO,Sun-Synchronous,0.0,497,517,0.00145,97.45,94.70,4.5,NaN,4.5,2017-06-23 00:00:00,2.0,Aalto University,Finland,Satish Dhawan Space Centre,PSLV,2017-036L,42775

QUE HACEMOS CON LOS NAN ?????